<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PubgEvent</title>
    <link rel="stylesheet" href="css/navbar.css">
</head>
<body>
    <nav> 
        <img class="logo" onclick="homeredirect()" src="images/gamecon.png" alt="">
        <ul>
            <li><a href="/track">Track your Reward</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/FAQ">FAQ</a></li>
        </ul>
        <div class="menu" style="display: none;">
        <img src="images/menu.png">
    </div>
    </nav>
    <script>
        function homeredirect(){
            window.location.href="/"
        }
    </script>
</body>
</html>
