<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PubgEvent</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/faq.css">
</head>

<body>
    <%- include("../includes/navbar.ejs") %>
        <h2>FAQ</h2>
        <div class="container">
            <div class="question"><span>Why my status is in processing?</span> <span>+</span></div>
            <div class="question"><span>How long it will take to recieve my reward?</span><span>+</span></div>
            <div class="question"><span>Is it trusted?</span><span>+</span></div>
            <div class="question"><span> Why my delivery is failed?</span><span>+</span></div>
            <div class="question"><span>Can all Pubg users take benefit of this?</span><span>+</span></div>
        </div>
</body>

</html>